<div class="position-relative vh-100 d-flex justify-content-center align-items-center ">

  <div class="position-absolute top-0 start-0 w-100 h-100 "
       style="background: url('bg-img.jpg') no-repeat center center / cover;
               z-index: 0;">
  </div>

  <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-50" style="z-index: 1;"></div>

  
  <div class="rounded-4 shadow-lg p-4 text-center" style="width: 100%; max-width: 400px; z-index: 2;
            background: rgba(0, 0, 0, 0.6);
            backdrop-filter: blur(8px);
            -webkit-backdrop-filter: blur(8px);
            color: var(--text-light);">
    <div class="h3 fw-bold  mb-3" style="color: var(--primary-color)">ReadZone</div>
    <h1 class="h4 text-light mb-3">Welcome Back</h1>
    <p class="text-light small mb-3">Log in to continue your journey ✨</p>

    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div *ngIf="errorMessage" class="alert alert-danger py-2">
        {{ errorMessage }}
      </div> 

      <div class="mb-4 text-start form-group">
        <label for="email" class="form-label text-light">Email</label>
        <app-input-field id="email" formControlName="email" placeholder="Email"></app-input-field>
        <div class="text-danger" *ngIf="loginForm.get('email')?.errors && loginForm.get('email')?.touched">
            <p *ngIf="loginForm.get('email')?.errors?.['required']">Email is required</p>
            <p *ngIf="loginForm.get('email')?.errors?.['email']">Invalid Email</p>
            <p *ngIf="loginForm.get('email')?.errors?.['minlength']">Should be at least 6 characters.</p>
        </div> 
        
      </div>

      <div class="mb-3 text-start form-group">
        <label for="password" class="form-label text-light">Password</label>
        <app-input-field id="password" formControlName="password" type="password" placeholder="Password"></app-input-field>
        <div class="text-danger" *ngIf="loginForm.get('password')?.errors && loginForm.get('password')?.touched">
            <p *ngIf="loginForm.get('password')?.errors?.['minlength']">Should be at least 6 characters.</p>
            <p *ngIf="loginForm.get('password')?.errors?.['required']">Password is required</p>
          </div>
      </div>

      <div class="text-end mb-3">
        <a routerLink="/auth/forgot-password" class="text-decoration-none small text-primary">Forgot Password?</a>
      </div>

      <app-button type="submit" severity="primary" class="w-100" [disabled]="isLoading || loginForm.invalid">
        <span >Login</span>
        <span *ngIf="isLoading" class="spinner-border spinner-border-sm"></span>
      </app-button>

      <p class="switch-text text-center mt-3 small">
        Don't have an account?
        <a routerLink="/auth/register" class="text-primary text-decoration-none">Sign up</a>
      </p>
    </form>

    
  </div>
</div>
